<div class="title-block">
    <h3 class="title pull-left">
        Страница счета <span class="sparkline bar"></span>
    </h3>
    <div class="pull-right">
        <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
            <i class="fa fa-refresh" ></i>
        </button>
    </div>
</div>
<section class="section">
    <div class="row text-center" *ngIf="!isLoaded">
        <curat-loader></curat-loader>
    </div>
    <div class="row" *ngIf="isLoaded">
        <curat-bill-card [currency]="currency" [bill]="bill"></curat-bill-card>
        <curat-currency-card [currency]="currency"></curat-currency-card>
    </div>
</section>